## Exercises

Answer the questions or complete the tasks outlined in bold below, use the specific method described if applicable.

** What is 7 to the power of 4?**

In [1]:
print(pow(7,4))

2401

** Split this string:**

    s = "Hi there Sam!"
    
**into a list. **

In [4]:
s = "Hi there Sam!"
a = []
a = s.split()
print(a)
#print(s.split())

['Hi', 'there', 'Sam!']

In [5]:
s = "Hi there dad!"
a = []
a = s.split()
print(a)
#print(s.split())

['Hi', 'there', 'dad!']

** Given the variables:**

    planet = "Earth"
    diameter = 12742

** Use .format() to print the following string: **

    The diameter of Earth is 12742 kilometers.

In [8]:
sentence = "The diameter of {planet} is {diameter} kilometers.".format(planet = "Earth", diameter = 12742)
print(sentence)

The diameter of Earth is 12742 kilometers.

** Given this nested list, use indexing to grab the word "hello" **

In [11]:
lst = [1,2,[3,4],[5,[100,200,['hello']],23,11],1,7]

In [14]:
print(lst[3][1][2][0])

hello

** Given this nest dictionary grab the word "hello". Be prepared, this will be annoying/tricky **

In [15]:
d = {'k1':[1,2,3,{'tricky':['oh','man','inception',{'target':[1,2,3,'hello']}]}]}

In [16]:
print(d['k1'][3]['tricky'][3]['target'][3])

hello

** What is the main difference between a tuple and a list? **

In [60]:
#tuples are imutable whereas the list is mutable
#tuple data type is easier for accessing the elements , list easier for operations such as insertion and deletion
lst = [1,2,3]
lst[0] = -1
print(lst)

[-1, 2, 3]

In [62]:
tup = (1,2,3)
tup[0] = 1  #item cant be changed
print(tup)

TypeError: ignored

** Create a function that grabs the email website domain from a string in the form: **

    user@domain.com
    
**So for example, passing "user@domain.com" would return: domain.com**

In [63]:
def getDomain(mail):
  return mail.split('@')[-1]

print(getDomain('user@domain.com'))

domain.com

** Create a basic function that returns True if the word 'dog' is contained in the input string. Don't worry about edge cases like a punctuation being attached to the word dog, but do account for capitalization. **

In [64]:
def isPresent(s):
   return 'dog' in s.lower().split()

In [65]:
inp = input("Enter a string with/without the word dog: ")
isPresent(inp)

Enter a string with/without the word dog: here is my key

False

In [27]:
inp = input("Enter a string with/without the word dog: ")
isPresent(inp)

Enter a string with/without the word dog: my dog is jojnny

True

** Create a function that counts the number of times the word "dog" occurs in a string. Again ignore edge cases. **

In [36]:
def countOccurence(s):
  counter = 0
  for i in s.lower().split():
    if i == 'dog':
      counter = counter + 1
  return counter

countOccurence("there is a dog in the dog shop having dog food")

3

### Problem
**You are driving a little too fast, and a police officer stops you. Write a function
  to return one of 3 possible results: "No ticket", "Small ticket", or "Big Ticket". 
  If your speed is 60 or less, the result is "No Ticket". If speed is between 61 
  and 80 inclusive, the result is "Small Ticket". If speed is 81 or more, the result is "Big    Ticket". Unless it is your birthday (encoded as a boolean value in the parameters of the function) -- on your birthday, your speed can be 5 higher in all 
  cases. **

In [37]:
def caught_speeding(speed, is_birthday):
    
    if is_birthday:
        speeding = speed - 5
    else:
        speeding = speed
    
    if speeding > 80:
        return 'Big Ticket'
    elif speeding > 60:
        return 'Small Ticket'
    else:
        return 'No Ticket'

In [46]:
caught_speeding(100,True)

'Big Ticket'

In [44]:
caught_speeding(80,False)

'Small Ticket'

Create an employee list with basic salary values(at least 5 values for 5 employees)  and using a for loop retreive each employee salary and calculate total salary expenditure.

In [66]:
emp_lst = [40000,60000,30000,45000,75000]
t = 0
for i in emp_lst:
  t = t + i
print("Total Salary Expenditure for Employees : ",t)

Total Salary Expenditure for Employees :  250000

Create two dictionaries in Python:

First one to contain fields as Empid,  Empname,  Basicpay

Second dictionary to contain fields as DeptName,  DeptId.

Combine both dictionaries.

In [59]:
dict1 = {'Empid':'CSE23101','Empname':'John Smith','Basicpay':40000}
dict2 = {'DeptName':'CSE','DeptId':'CSE23'}
dict1.update(dict2)
print(dict1)

{'Empid': 'CSE23101', 'Empname': 'John Smith', 'Basicpay': 40000, 'DeptName': 'CSE', 'DeptId': 'CSE23'}